.classpath
.settings
.project
tests/1m.txt
tests/1m.txt.arc
tests/a.txt
tests/a.txt.arc
tests/christmascarol.txt.arc
tests/encyclopediabrit26ed.txt
tests/hobbit.rtf
tests/hobbit.rtf.arc
tests/openboat.rtf
tests/openboat.rtf.arc
tests/pcgpe10.txt
tests/pcgpe10.txt.arc
tests/taleoftwocities
tests/taleoftwocities.arc
tests/test.txt
tests/test.txt.arc
tests/testbase.txt
tests/testbase.txt.arc
tests/theveldt.txt
tests/theveldt.txt.arc
tests/theveldtoriginal.txt
tests/vgilante.txt
tests/vgilante.txt.arc
/bin/*/*.o
/depend/*.d
arc
